.card-item {
    float: left;
    width: calc(33.333% - 20px);
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 1px 1px 5px #0000002b;
    text-align: center;
    overflow: hidden;
  }
.card-med{
    display: inline-block;
    margin: 20px;
    border-style: solid;
    padding: 10px;
    text-align: center;
    width: 162px;
}



.card-item img {
    max-width: 100%;
}

.container-card-data h2 {
    text-decoration: none;
}