.card-med{
    display: inline-block;
    margin: 20px;
    border-style: solid;
    padding: 10px;
    text-align: center;
    width: 162px;
}

.alineados {
    display: inline-block;
    margin-right: 20px;
}

.tamanio-boton {
    padding: 10px;
}