.navbar ul li button a {
    text-decoration: none;
    color: white;
    list-style-type: none ;
}

.navbar ul li button {
    border-color: transparent;
}

.navbar ul {
    display: flex;
}

.zoom {
    zoom: 2;
    float:right;
}

.navbar {
    background-color: brown;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
}

li {
    list-style-type: none;
}

.boton-logo {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 12%;
}